# PostgreSQL DB settings.
PSQL_LOCAL_SETTINGS = {
    'development': {
        'user': 'similarity',
        'pass': 'similarity',
        'host': 'localhost',
        'port': 5432,
        'db': 'similarity',
    },
    'testing': {
        'user': 'postgres',
        'pass': 'postgres',
        'host': 'localhost',
        'port': 5432,
        'db': 'postgres',
    },
    'production': {
        'user': 'postgres',
        'pass': 'postgres',
        'host': 'localhost',
        'port': 5432,
        'db': 'postgres',
    },
}
